/* Import external stylesheets */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600,300|Expletus+Sans:300,700|Domine:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,100|Titillium+Web:400,200,300italic,300,200italic&display=swap');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('https://cdn.jsdelivr.net/npm/aos@2.3.3/dist/aos.css');

/* Reset default styles */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

/* Custom override: Force sidebar to always be at the top */
#sidebar {
  height: 3.5em !important;
  left: 0 !important;
  line-height: 3.5em !important;
  overflow: hidden !important;
  padding: 0 !important;
  text-align: center !important;
  top: 0 !important;
  width: 100% !important;
  position: fixed !important;
  z-index: 10000 !important;
}

#sidebar > .inner {
  flex-direction: row !important;
  align-items: stretch !important;
  height: inherit !important;
  line-height: inherit !important;
}

#sidebar nav {
  height: inherit !important;
  line-height: inherit !important;
}

#sidebar nav ul {
  display: flex !important;
  height: inherit !important;
  line-height: inherit !important;
  margin: 0 !important;
  justify-content: center !important;
}

#sidebar nav ul li {
  display: block !important;
  height: inherit !important;
  line-height: inherit !important;
  margin: 0 0 0 2em !important;
  padding: 0 !important;
}

#sidebar nav a {
  height: inherit !important;
  line-height: inherit !important;
  padding: 0 !important;
}

#sidebar nav a:after {
  background-image: none !important;
  background-color: #b74e91 !important;
}

/* Adjust wrapper margin to account for top navbar */
#sidebar + #wrapper {
  margin-left: 0 !important;
  padding-top: 3.5em !important;
}

/* Adjust footer margin */
#sidebar + #wrapper + #footer {
  margin-left: 0 !important;
}
